<a href="https://colab.research.google.com/github/versatilebreed/Coursera-test/blob/gh-pages/Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#To predict the closing stock price for past 60 days for appl.inc

In [1]:
#importing libraries

In [10]:
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers  import Dense, LSTM
import matplotlib.pyplot as plt

In [12]:
df = web.DataReader('AAPL', data_source='yahoo', start='2012-01-01', end='2019-01-01')
df

                 High        Low       Open      Close       Volume  Adj Close
Date
2012-01-03  14.732143  14.607143  14.621429  14.686786  302220800.0  12.650659
2012-01-04  14.810000  14.617143  14.642857  14.765714  260022000.0  12.718646
2012-01-05  14.948214  14.738214  14.819643  14.929643  271269600.0  12.859850
2012-01-06  15.098214  14.972143  14.991786  15.085714  318292800.0  12.994284
2012-01-09  15.276786  15.048214  15.196429  15.061786  394024400.0  12.973674
...               ...        ...        ...        ...          ...        ...
2018-12-24  37.887501  36.647499  37.037498  36.707500  148676800.0  35.800995
2018-12-26  39.307499  36.680000  37.075001  39.292500  234330000.0  38.322155
2018-12-27  39.192501  37.517502  38.959999  39.037498  212468400.0  38.073456
2018-12-28  39.630001  38.637501  39.375000  39.057499  169165600.0  38.092960
2018-12-31  39.840000  39.119999  39.632500  39.435001  140014000.0  38.461140

[1760 rows x 6 columns]

In [14]:
df.shape

(1760, 6)